<!-- <app-header></app-header>
<mat-grid-list cols="5" rowHeight="2:3">
  <mat-grid-tile colspan="2">
    <app-left-toolbar></app-left-toolbar>
  </mat-grid-tile>
  <mat-grid-tile colspan="3">
    <app-login></app-login>
  </mat-grid-tile>
</mat-grid-list> -->
  
<!-- <app-login></app-login> 
<app-home></app-home> -->

<!-- <router-outlet></router-outlet>
<ng-component>
  <app-header></app-header>
  <router-outlet></router-outlet> -->
  <!-- <ng-component>
    <app-home></app-home>
  </ng-component>
   -->
<!-- </ng-component> -->

<!-- <app-footer></app-footer> -->
<!-- <router-outlet></router-outlet> -->
<router-outlet></router-outlet>